@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css");

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-family: 'NanumSquareRound';
}

body::-webkit-scrollbar {
    display: none;
}